body {
    padding: 100px
}

.bank-title {
    text-align: center;
}

.submit-area {
    margin-top: 50px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}

#transiction-area {
    display: none
}

.deposit {
    background: slateblue;
}

.withdrow {
    background: lightsalmon;
}

.balance {
    background: orange;
}

.status {
    margin: 0 20px;
    color: white;
    padding: 20px;
    border-radius: 10px;
}